.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
btn,
.btn-primary,
.btn-large,
input#submitCommentButton,
.readmore {
  background-color: #7c402e;
  color: #fff;
  -webkit-transition: background-color 1000ms;
  -moz-transition: background-color 1000ms;
  -o-transition: background-color 1000ms;
  transition: background-color 1000ms;
}
btn:hover,
.btn-primary:hover,
.btn-large:hover,
input#submitCommentButton:hover,
.readmore:hover {
  color: #fff;
  background-color: #444;
}
button,
input[type='submit'],
input[type='button'],
submit,
.button {
  border: 0;
  padding: 5px 12px;
  display: inline-block;
  background-color: #7c402e;
  color: #fff;
  -webkit-transition: background-color 1000ms;
  -moz-transition: background-color 1000ms;
  -o-transition: background-color 1000ms;
  transition: background-color 1000ms;
}
button:hover,
input[type='submit']:hover,
input[type='button']:hover,
submit:hover,
.button:hover {
  color: #fff;
  background-color: #444;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #7c402e;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
a {
  color: #7c402e;
}
a:hover {
  color: #444;
}
body {
  color: #444444;
}
body.bg {
  background: #ffffff;
}
.module h3 {
  background: #7c402e;
}
#sp-main-menu ul.level-0 > li:hover >a:after,
#sp-main-menu ul.level-0 > li.active >a:after {
  background: #7c402e;
}
#sp-main-menu ul.level-0 > li >a {
  color: #7c402e;
  position: relative;
}
#sp-main-menu li li {
  border-top: 1px solid #9a4f39;
  border-bottom: 1px solid #6d3828;
}
.sp-submenu .sp-submenu-wrap {
  background: #7c402e;
}
#sp-title-wrapper {
  color: #7c402e;
}
#sp-title-wrapper .title-border {
  border-left: 4px solid #7c402e;
}
#sp-slideshow-wrapper #sp-slideshow .layout-minima .slider-controllers ul li.active {
  border: 1px solid #572d20;
  background: #7c402e;
}
#sp-user-top-wrapper .sp-box {
  background-color: #ffffff;
  color: #7c402e;
}
#sp-user-top-wrapper .sp-box:hover {
  background-color: #7c402e;
  color: #fff;
}
#sp-user-top-wrapper .sp-box:hover h2 {
  color: #fff;
}
#sp-user-top-wrapper .sp-box h2 {
  color: #7c402e;
}
#sp-footer-wrapper #sp-footer2 .sp-totop i {
  background: #7c402e;
}
.module.highlighted >.mod-wrapper {
  background-color: ;
}
.module.highlighted >.mod-wrapper a:not(.btn) {
  color: #cc8a77;
}
.module.highlighted >.mod-wrapper a:not(.btn):hover {
  color: #daaa9c;
}
.item-page h2 {
  color: #7c402e;
}
.item-page ul.gallery li a span {
  color: #7c402e;
}
.accordion-heading .accordion-toggle {
  background-color: #7c402e;
}
.accordion-heading .accordion-toggle.collapsed {
  background: #dedede;
  color: #444;
}
.accordion-heading .accordion-toggle.collapsed i {
  color: #fff;
}
.tab_comment .sptabs ul.tabs_container li.tab.active {
  border-top: 4px solid #7c402e;
}
#sp-right .k2ItemsBlock >ul li .moduleItemDateCreated {
  color: #7c402e;
}
ul.pricing-table li.plan-price {
  color: #7c402e;
}
ul.pricing-table li.plan-name.bg {
  background: #7c402e;
}
.sp-service-page .sp-blocknumber span {
  background: #7c402e;
}
.pagination ul li a:hover,
.pagination ul li a.active {
  background-color: #7c402e !important;
}
.pagination ul li.pagination-active a {
  background-color: #ededed !important;
}
div.catItemView,
div.itemBody,
div.userItemView {
  border-bottom: 4px solid #7c402e;
}
div.itemTagsBlock ul.itemTags li:after {
  border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) #7c402e;
}
.rtl div.itemTagsBlock ul.itemTags li:after {
  border-color: rgba(0,0,0,0) #7c402e rgba(0,0,0,0) rgba(0,0,0,0);
}
div.itemTagsBlock ul.itemTags li a {
  background: #7c402e url(../../images/presets/preset7/circle-tag.png) no-repeat 100%;
}
.rtl div.itemTagsBlock ul.itemTags li a {
  background: #7c402e url(../../images/presets/preset7/circle-tag.png) no-repeat 0%;
}
div.itemTagsBlock ul.itemTags li a:hover {
  background: #bcbcbc url(../../images/presets/preset7/circle-tag.png) no-repeat 100%;
}
.rtl div.itemTagsBlock ul.itemTags li a:hover {
  background: #bcbcbc url(../../images/presets/preset7/circle-tag.png) no-repeat 0%;
}
h3.itemCommentsCounter,
div.itemComments ul.itemCommentsList li span.commentLink a {
  color: #7c402e;
}
div.itemCommentsForm h3 {
  color: #7c402e;
}
